* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background: #2f2f92;
}

#title{ 
    text-align: center;
    text-decoration: underline;
}

.container {
    padding: 50px;
}

.flex {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

textarea {
    padding: 20px;
    font-weight: 500;
    height: 500px;
    width: 600px;
    color: black;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    height: 600px;
    width: 600px;
    background-color:#464646;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}